{% extends 'base.html.twig' %}

{% block title %}Site du co-voiturage{% endblock %}

{% block body %}
    <article>
        <h1> Bienvenue dans notre site pour le co-voiturage</h1>
    </articel>
{% endblock %}
