{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<div class="container justify-content-center">

    <img src="/image/logo.PNG" alt="Lights" style="width:100%">

   <h1 class="centered"style="font-size:60px"> ABOUT US </h1>

    <div class="centered_2"style="font-size:20px" >

    </br>
     </br>
     </br>
     </br>

    API-NESS propose des reservations de transfert et des locations de voiture avec chauffeur aux meilleurs prix.Commander un transfert a travers notre site internet est plus economique qu'appeler un taxi </div>

</div>

<div class="container">
  <div class="row">
    <div class="col">
          <h2>Meilleur prix</h2>
         <p>Nous remboursons la différence de prix.<p>
    </div>
    <div class="col">
      <h2>Temps d'antente gratruit</h2>
         <p>Nous autorisons un temps d'attente gratuit de 60 minutes.<p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Pas de frais cache</h2>
         <p> Taxes , péages et pourboires inclus.<p>
    </div>
    <div class="col">
      <h2>Transferts en toute securite</h2>
         <p>Vous savez toujours à l'avance à qui est votre chauffeur. <p>
    </div>

  </div>
</div>
{% endblock %}
