{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Chauffeur{% endblock %}

{% block body %}
    <h1 class="mb-5">
        <a href="{{ path('user_index') }}" title="Liste des chauffeurs"><i class="fa fa-chevron-left"></i></a>
        Nouveau Chauffeur
    </h1>

    {{ include('admin/user/_form.html.twig') }}
{% endblock %}
