{% extends 'front/base.html.twig' %}

{% block title %}{{ parent() }}Mes réservations{% endblock %}

{% block body %}
    {% for notification in notifications %}
    <div>
      <p>CLient : {{ notification.client.username }}</p>
      <p>Voiture : {{ notification.voiture.marque }}</p>
      <p>Date : {{ notification.date ? notification.date|date('Y-m-d H:i:s') : ''}}
    </div>
    {% endfor %}
{% endblock %}
