<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}CoVOITURAGE | {% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {{ encore_entry_link_tags('login') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% set route = app.request.attributes.get('_route') %}

{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 col-md-8 h-100 login-desc">

        </div>
        <div class="col-12 col-md-4 h-100">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{{ encore_entry_script_tags('login') }}
{% block javascripts %}{% endblock %}
</body>
</html>
